.layout-container {
    background: #a6bf79 !important;
}

main[role='main']{
    padding: 0 0 30px;
}

header {
    background: #a6bf79;
    border-bottom: none;
}
header .wrapper {
    background: url(../img/header.jpg) no-repeat 0 0;
    max-width: 694px;
    margin: 0 auto;
    height: 255px;
    border: none;
    padding: 0 15px 40px;
}
}
header .wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.header-image {
    display: none;
}

.wrapper {
    background: #e3e5db;
    max-width: 691px;
    border: 3px solid #fff;
    border-radius: 0 0 10px 10px;
}

h2.paragraph-nadpis {
    color: #000;
}

@media only screen and (min-width: 768px) {
    .main-menu {
        float: none;
        clear: none;
        padding: 40px 0 0;
        width: 100%;
        position: absolute;
        bottom: -2px;
        left: -3px;
    }
    .main-menu ul#paragraph-menu {
        float: none;
    }
}


#menu-btn span,
#menu-btn span:before,
#menu-btn span:after {
    background: #a6bf79;
}

.footer {
    padding: 30px 10px;
    background: black;
    color: white;
    text-align: center;
}

.footer .field--field-footer {
    max-width: 1200px;
    margin: 0 auto;
}

.footer a {
    color: white;
}

nav#block-idweb-main-menu {
    position: relative;
    clear: both;
    float: none
}

@media only screen and (min-width: 768px) {
    nav#block-idweb-main-menu {
        clear: none
    }
}

nav#block-idweb-main-menu.active ul.menu {
    display: block
}

nav#block-idweb-main-menu h2 {
    display: none
}

.main-menu ul#paragraph-menu {
    padding: 0;
    display: none;
    max-width: 711px;
    margin: 0 auto;
    background: #85a157;
    border: 3px solid #fff
}

@media only screen and (min-width: 768px) {
    .main-menu ul#paragraph-menu {
        display: block !important
    }
}

.main-menu ul#paragraph-menu li {
    display: block;
    padding: 0
}

@media only screen and (min-width: 768px) {
    .main-menu ul#paragraph-menu li {
        display: inline-block;
        padding: 0;
        margin: 0 2px
    }
}

.main-menu ul#paragraph-menu li a {
    display: block;
    color: #fff;
    text-decoration: none;
    background: none;
    border: none;
    line-height: 25px;
    height: auto;
    padding: 10px 20px
}

.main-menu ul#paragraph-menu li a:hover, .main-menu ul#paragraph-menu li a.is-active {
    color: #fff;
    background: #657c41;
    border-bottom: none;
}

.main-menu ul#paragraph-menu li a.is-active {
    font-weight: bold
}

@media only screen and (min-width: 768px) {
    .main-menu ul#paragraph-menu li a {
        padding: 5px 14px;
        transition: 300ms
    }
}

.main-menu ul#paragraph-menu li.ui-tabs-active a {
    font-weight: bold;
    color: #fff;
    border-bottom: none;
}