{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <head-placeholder token="{{ placeholder_token|raw }}">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114927966-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114927966-1');
</script>

        <title>{{ head_title|safe_join(' | ') }}</title>
        <meta name="google-site-verification" content="3ZQWsn2FLreIbfYuubzVLSV2x3FB_T20wIo20G5K9ZI" />
        <js-placeholder token="{{ placeholder_token|raw }}">
            <style type="text/css">

                html{font-family:sans-serif}body{margin:0}a{background-color:transparent}a,a:link{color:#333}html{position:relative}@media only screen and (min-width:560px){html{height:100%}}body{margin:0;min-height:100%;background-color:#fff;font-size:18px;font-family:Arial}.visually-hidden{display:none}

                @import url("/{{ base_path ~ directory }}/css/custom.css");
            </style>

                </head>
                {%
                set body_classes = [
                not root_path ? 'path-frontpage' : 'page-' ~ root_path|clean_class,
                path_info.args ? 'page-' ~ path_info.args,
                ]
                %}

<body {{  attributes.addClass(body_classes) }}>
<a href="#main-content" class="visually-hidden focusable">{{ 'Skip to main content'|t }}</a>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
    <css-placeholder token="{{ placeholder_token|raw }}">
    <style>@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700&subset=latin-ext');</style>
</body>
</html>
