{% if label_hidden %}
    {% if multiple %}
        <div {{ attributes }}>
            {% for item in items %}
                <div {{ item.attributes }}>{{ item.content }}</div>
            {% endfor %}
        </div>
    {% else %}
        {% for item in items %}
            <div{{ attributes }}><h2 class="nadpis">{{ item.content }}</h2></div>
        {% endfor %}
    {% endif %}
{% else %}
    <div {{ attributes }}>
        <div{{ title_attributes }}>{{ label }}</div>
        {% if multiple %}
        <div>
            {% endif %}
            {% for item in items %}
                <div {{ item.attributes }}>{{ item.content }}</div>
            {% endfor %}
            {% if multiple %}
        </div>
        {% endif %}
    </div>
{% endif %}
