.btn {
  display: inline-block;
  padding: 6px 12px 5px;
  text-transform: uppercase;
  background-color: $button-firstbg-color;
  color: $button-font-color;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 3px;
  transition: background-color .35s ease 0s;
  width: 105px;
  &:first-child {
    @media #{$media-desktop}{
      margin-bottom: 3px;
    }
  }
  @media #{$media-desktop}{
    display: block;
    width: 90px;
    font-size: 0.7em;
  }

  &:hover {
    cursor: pointer;
    background-color: $button-bg-hover-color;
    transition: background-color .35s ease;
  }
}