footer[role ='contentinfo'] {
  padding: $padding-mobile;
  color: white;
  
  a, h2 {
  	color: white;
  }

	#block-paticka {

		@media #{$media-bigMobile} {
		    float: left;
		    width: 50%;
		}

	}

	#block-socialnisite {
	    @media #{$media-bigMobile} {
		    float: left;
		    width: 50%;
		}
	}
}