label {
  display: block;
  padding: 7px 0;
}

input, textarea {
  width: calc(100% - 24px);
  border-radius: 3px;
  padding: 0;

  @media #{$media-bigMobile}{
    max-width: 300px;
  }
}

textarea {
  height: 120px;
}

.form-item {
  margin: 10px 0;
}

input[type="submit"] {
  width: auto;
  cursor: pointer;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  font-size: 100%;
  margin: 0 0 0 15px;
  padding: 0 15px;
  text-decoration: none;
  background: #ccc;
  border: 1px solid $button-border-color;
  border-radius: 3px;
  font-weight: 500;
  text-shadow: 1px 1px #ccc;
  background: -moz-linear-gradient(top, $button-secondbg-color 0%, $button-firstbg-color 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, $button-firstbg-color));
  background: -webkit-linear-gradient(top, $button-secondbg-color 0%, $button-firstbg-color 100%);
  background: -o-linear-gradient(top, $button-secondbg-color 0%, $button-firstbg-color 100%);
  background: -ms-linear-gradient(top, $button-secondbg-color 0%, $button-firstbg-color 100%);
  background: linear-gradient(to bottom, $button-secondbg-color 0%, $button-firstbg-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$button-secondbg-color, endColorstr=$button-firstbg-color, GradientType=0);
  color: #95969a!important;
  letter-spacing: 2px;
  transition: 300ms all;

  &:first-child {
    margin-left: 0;
  }
  &:hover {
    text-shadow: 1px 1px #333;
    background: $button-bg-hover-color;
    color: $button-font-hover-color!important;
  }
}

#block-contactblock {
  position: relative;
  float: none;
  padding: 10px 40px 40px;

  margin: 20px 0;
  @media #{$media-bigMobile} {
    float: left;
  label {
      float: left;
      min-width: 80px;
      text-align: left;
      padding-right: 20px;
    }
  }
  input[type="text"],
  input[type="email"],
  textarea {
    border-radius: 3px;
    height: 18px;
    line-height: 18px;
    padding: 10px 12px;
    color: #333;
    border: 1px solid #e5e5e5;
  }
  textarea {
    min-height: 126px;
  }

  .form-actions {
    text-align: right;
  }

  #edit-preview {
    display: none;
  }

}