.cboxElement img, .colorbox img {
  display: block;
      width: auto;
    max-width: 100%;
    height: auto; 
  // max-width: 100%;
  // height: auto;
  // max-height: 100%;
  // width: auto;
  // margin: auto;
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 0;
  // bottom: 0;
}

.cboxElement, .colorbox {
  display: block;
  // width: 100%;
  // overflow: hidden;
  position: relative;
  // height: 0;
  // padding-top: 75%;
  border: 1px solid #ccc;
}

.cbox-items {
  // display: inline-block;
  // width: 100%;
  // padding: 0;
  // max-width: 220px;
  // max-height: 165px;
  // background-color: #fff;
  // -moz-box-sizing: border-box;
  // box-sizing: border-box;
  // margin: 10px;
}

.cbox-parent {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(110px,1fr));
    grid-gap: 5px;
    text-align: center;
}