header{
  @include clearfix;
  position: relative;
  width: calc(100% - 20px);
  background: #a2bf23;
  padding: 10px;

  .wrapper {
      padding: 0;
      width: 100%;
  }

  #block-sitebranding {
     float: left;
     a {
        text-decoration: none;
        color: white;
        font-size: 1.6em;
        display: block;
        vertical-align: middle;
        padding: 8px 5px 0 0;

        img {
            height: 46px;
        }

        svg {
          display: block;
        }

        span {
          display: none;
        }
    }
  }

}

#block-idweb-branding {
  float: left;
  a {
    text-decoration: none;
    color: $h1-color;
    font-size: 1.6em;
    
    img {
        height: 46px;
    }

  }
}
#menu-btn {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  top: 10px;
  right: 15px;
  height: 34px;
  width: 40px;
  color: $hamburger-color;
  background: $hamburger-background;
  text-align: center;
  line-height: 34px;
  font-size: 20px;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  padding: 0 50px 0 10px;
  transition: background 0.3s;

  &:focus {
    outline: none;
  }

  span {
    display: block;
    position: absolute;
    top: 15px;
    right: 0;
    width: 30px;
    height: 4px;
    border-radius: 1px;
    background: #fff;
    transition: background 0s 0.3s;
    &:before,
    &:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 1px;
      background-color: #fff;
      content: "";
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
    }
    &:before {
      top: -9px;
      transition-property: top, transform;
    }

    &:after {
      bottom: -9px;
      transition-property: bottom, transform;
    }
  }

  &.is-active span {
    background: none;
    &:before,
    &:after {
      transition-delay: 0s, 0.3s;
    }
    &:before {
      top: 0;
      transform: rotate(45deg);
    }
    &:after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }

  @media #{$media-tablet} {
    display: none;
  }

}

nav#block-idweb-main-menu {
  position: relative;
  clear: both;
  float: none;

  @media #{$media-tablet} {
    float: right;
    clear: none;
    margin: 8px 4px 0 0;
  }

  &.active ul.menu {
    display: block;
  }
    h2 {
      display: none;
    }

    ul.menu {
      padding: 0;
      margin: 0;
      display: none;

      @media #{$media-tablet} {
        float: right;
        display: inline-block!important;
      }

      li {
        display: block;
        padding: 0;

        @media #{$media-tablet}{
          display: inline-block;
          padding: 0;
          margin: 0 2px;
        }

        &:last-child {
          a {
            border: 0;
          }
        }

        a {
          position: relative;
          display: block;
          color: #fff;
          text-decoration: none;
          line-height: 22px;
          height: auto;
          padding: 9px 20px 8px;
          transition: 300ms;
          border-bottom: 1px solid #c4dc5b;
          text-transform: uppercase;

          &:before {
              @include fontAw(13px);
              content: '\f054';
              display: block;
              padding: 0 0 0 8px;
              float: right;
          }

          @media #{$media-tablet} {
              border: 0;
              border-radius: 3px;
              &:before {
                display: none;
              }
          }

          &:hover, &.is-active {
            color: $menu-link-font-hover-color;
            background: white;
          }

          &.is-active {
              background: white;
              color: #7c8f2d;
          }

        }
      }
    }
  }