h1, h2 {
  font-weight: normal;
}

main[role='main'] {
  padding: 0 10px;
  background: #fff;
}

#block-idweb-content {
  display: block;
  padding-top: 20px;
}

.fotogalerie {
  padding-bottom: 30px;
  text-align: center;
  h2 {
    margin: 10px 0;
    color: $h2-color;
  }
  .popis {
    margin: 0 0 10px;
  }
  .foto {
    img {
      height: auto;
      width: 80%;
      border: 1px solid #ccc;
    }
  }
  @media #{$media-bigMobile}{
    float: left;
    width: 50%;
    text-align: left;
    padding: 20px 0 0;
    h2 {
      @include ellipsis;
    }
    .popis {
      line-height: 20px;
      margin-bottom: 10px;
      min-height: 50px;
      @include ellipsis;
    }
    .foto {
      float: left;
      width: 40%;
    }
    .foto-text, .tisk-text {
      float: right;
      width: 60%;
    }
  }
  @media #{$media-desktop}{
    width: 33.3%;
  }
}
