.type-objekt {
   .parent-photo {
       padding: 0;
       margin: 0;
       display: grid;
       grid-template-columns: repeat(auto-fit,minmax(110px,1fr));
       grid-gap: 5px;
       text-align: center;
       .photo-item {

       }
   }
    .paragraph--type--fotogalerie {
        padding: 20px 0;
    }
    .paragraph--type--clanek {
        padding: 40px;
        border-bottom: 1px solid #cdcdcd;
    }
}