h1 {
  padding: 30px 0 0;
  margin: 0;
  color: $h1-color;
  font-size: 3.3em;
  line-height: 1em;
}
h2 {
  color: $h2-color;
}
h3 {
  color: $h3-color;
}
h4 {
  color: $h4-color;
}

a, a:link {
  color: $link-color;
}
a:hover {
  color: $link-hover-color;
}

.wrapper {
  max-width: $page-width;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  width: calc(100% - 30px);
}

#slider {
  background: #7cccd4;
  min-height: 300px;
  .wrapper {
    text-align: center;
  }
    h2 {
    line-height: 300px;
  }
}
  .table-row {
  padding: 15px 0;
  border-bottom: 1px solid #f1ebbc;
  @media #{$media-desktop}{
    display: table-row;
  }
}

.table-cell {
  display: block;
  @media #{$media-desktop}{
    display: table-cell;
    padding: 0 20px;
  }
  h2.not-main {
    margin: 5px 0;
    color: $h2-color;
    padding: 0;
    font-size: 1.5em;
    @media #{$media-desktop} {
      font-size: 1.2em;
    }
  }
  p {
    margin: 5px 0;
  }
  &.buttons {
    padding: 5px 0 0;
  }
}

.views-element-container {
  @include clearfix;
  .views-row{
    position:relative;
    border:1px solid #a2bf23;
    border-radius:3px;
    padding:200px 20px 20px;
    margin:10px;
    overflow:hidden;
    height:168px;

    .img {
      position: absolute;
      left: 0;
      top: 0;
      height: 180px;
      width: 100%;
      overflow: hidden;

      a {
        display: block;

        img {
          height: 180px;
          width: auto;
          min-width: 100%;
        }
      }

    }

    h2{
      margin:0;padding:0;
    }

    &:hover {
      box-shadow: 0 0 5px rgba(0,0,0,0.25);
    }
    @media #{$media-bigMobile} {
      float:left;
      width:calc(50% - 62px);
    }

    @media #{$media-tablet} {
      width:calc(33.33% - 62px);
    }

    &:before{
      @include fontAw(100px);
      content:'\f03e';
      position:absolute;
      left:0;
      top:0;
      right:0;
      background:#eee;
      height:180px;
      line-height:180px;
      text-align:center;
      color:#fff;
      border-bottom:1px solid #a2bf23;
    }

  }
}
