/* variables */
$page-background: #3e4248;
$font-color: #333;
$link-color: #333;
$link-hover-color: #cdcdcd;
$menu-link-background-color: #000;
$menu-link-background-hover-color: #cdcdcd;
$menu-link-font-color: #fff;
$menu-link-font-hover-color: #7c8f2d;
$padding-mobile: 10px;
$h1-color: #333;
$h2-color: #333;
$h3-color: #333;
$h4-color: #333;
$background-img: url('../img/background.jpg');
$page-width: 1200px;
$hamburger-color: #fff;
$hamburger-background: transparent;
$hamburger-border: none;
$button-firstbg-color: #fff;
$button-secondbg-color: #fff;
$button-font-color: #333;
$button-font-hover-color: #fff;
$button-bg-hover-color: #c53a44;
$button-border-color: #cdcdcd;
// media queries boundaries: @media screen and (max-width: $mqSmallDesktopTo){ }

$cbox-halfsize: 440px;
$mqMobile: 320px;
$mqMobileTo: 559px;

$mqBigMobile: 560px;
$mqBigMobileTo: 767px;

$mqTablet: 768px;
$mqTabletTo: 1024px;

$mqSmallDesktop: 1025px;
$mqSmallDesktopTo: 1279px;
$fonts: PT Sans Narrow;

/* media queries variables */
$media-mobileTo: "only screen and (max-width: #{$mqMobileTo})";
$media-bigMobile: "only screen and (min-width: #{$mqBigMobile})";
$media-cbox: "only screen and (min-width: #{$cbox-halfsize})";
$media-only-phablet: "only screen and (min-width: #{$mqBigMobile}) and (max-width: #{$mqBigMobileTo})";
$media-tablet: "only screen and (min-width: #{$mqTablet})";
$media-tabletTo: "only screen and (max-width: #{$mqTabletTo})";
$media-only-tablet: "only screen and (min-width: #{$mqTablet}) and (max-width: #{$mqTabletTo})";
$media-desktop: "only screen and (min-width: #{$mqSmallDesktop})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";




