{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <head-placeholder token="{{ placeholder_token|raw }}">
        <title>{{ head_title|safe_join(' | ') }}</title>
        <js-placeholder token="{{ placeholder_token|raw }}">
            <style type="text/css">

                html{font-family:sans-serif}body{margin:0}a{background-color:transparent}a,a:link{color:#333}html{position:relative}@media only screen and (min-width:560px){html{height:100%}}body{margin:0;min-height:100%;background-color:#fff;font-size:18px;font-family:PT Sans Narrow}.visually-hidden{display:none}

                @import url("/{{ base_path ~ directory }}/css/custom.css");
            </style>

                </head>
                {%
                set body_classes = [
                not root_path ? 'path-frontpage' : 'page-' ~ root_path|clean_class,
                path_info.args ? 'page-' ~ path_info.args,
                ]
                %}

<body {{  attributes.addClass(body_classes) }}>
<a href="#main-content" class="visually-hidden focusable">{{ 'Skip to main content'|t }}</a>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
    <css-placeholder token="{{ placeholder_token|raw }}">
    <style>@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,latin-ext);</style>
</body>
</html>
