.toolbar-tray a,
.toolbar-tray a:link {
  color: #565656;
}

dl {
	dt {
		margin: 1em 0;
	}
}

#block-ubytovani-local-tasks ul {
	position: relative;
	border-collapse: collapse;
	height: auto;
	line-height: normal;
	list-style: none;
	margin: 5px;
	padding: 0 0 0 1em;
	white-space: nowrap;
	border-bottom: 1px solid #ccc;
	z-index: 90;
	li {
		display: inline-block;
		a {
			text-decoration: none;
			background: none;
			border: none;
			display: block;
			line-height: 1.5385em;
			margin: 0;
			padding: 0 1em;
			border-radius: 4px 4px 0 0;
			margin-right: 5px;
			color: $link-color;
			&:hover, &.active {
				background: #666;
				border: none;
				color: #fff;
			}
		}
	}
}
div[role='contentinfo'] {
	color: #4F8A10;
	background-color: #DFF2BF;
	padding: 12px;
	margin: 10px 0;
	line-height: 20px;
	position: relative;
	
	&:before {
		content: "\f05d";
		font-family: FontAwesome;
		margin: 10px 22px;
		font-size: 1.5em;
		vertical-align: middle;
	}
}
