.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  transition: background-color .35s ease 0s;
  width: auto;

  &:hover {
    cursor: pointer;
    transition: background-color .35s ease;
  }
}