#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/**
 * These elements are buttons, and may need to have additional
 * styles reset to avoid unwanted base styles.
 */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
  cursor: pointer;
}
/**
 * Avoid outlines on :active (mouseclick),
 * but preserve outlines on :focus (tabbed navigating)
 */
#cboxPrevious:active, #cboxNext:active, #cboxClose:active, #cboxSlideshow:active {
  outline: 0;
}
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
}
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}
/* Reset box sizing to content-box if theme is using border-box. */
#colorbox, #cboxContent, #cboxLoadedContent {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/**
 * Colorbox module default style:
 * The styles are ordered & tabbed in a way that represents
 * the nesting of the generated HTML.
 */
#cboxOverlay {
  background: #000;
}
#colorbox {
  outline: 0;
}
  #cboxWrapper {
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
    #cboxTopLeft {
      width: 15px;
      height: 15px;
    }
    #cboxTopCenter {
      height: 15px;
    }
    #cboxTopRight {
      width: 15px;
      height: 15px;
    }
    #cboxBottomLeft {
      width: 15px;
      height: 10px;
    }
    #cboxBottomCenter {
      height: 10px;
    }
    #cboxBottomRight {
      width: 15px;
      height: 10px;
    }
    #cboxMiddleLeft {
      width: 15px;
    }
    #cboxMiddleRight {
      width: 15px;
    }
    #cboxContent {
      background: #fff;
      overflow: hidden;
      margin-top: 16px; 
    }
      #cboxError {
        padding: 50px;
        border: 1px solid #ccc;
      }
      #cboxLoadedContent {
        margin-bottom: 28px;
      }
      #cboxTitle {
        position: absolute;
        background: rgba(255, 255, 255, 0.7);
        bottom: 28px;
        left: 0;
        color: #535353;
        width: 100%;
        padding: 4px 6px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      #cboxCurrent {
        position: absolute;
        bottom: 4px;
        left: 60px;
        color: #949494;
      }
      .cboxSlideshow_on #cboxSlideshow {
        position: absolute;

        text-indent: -9999px;
      }
      .cboxSlideshow_on #cboxSlideshow:hover {
        background-position: -101px -50px;
      }
      .cboxSlideshow_off #cboxSlideshow {
        position: absolute;
        text-indent: -9999px;
      }
      .cboxSlideshow_off #cboxSlideshow:hover {
        background-position: -49px -50px;
      }
      #cboxPrevious {
        position: absolute;
        text-indent: -9999px;
      }
      #cboxPrevious:hover {
        background-position: -75px -25px;
      }
      #cboxNext {
        position: absolute;
        text-indent: -9999px;
      }
      #cboxNext:hover {
        background-position: -50px -25px;
      }
      #cboxLoadingOverlay {
        background: #fff;
      }
      #cboxLoadingGraphic {
        background: url(images/loading_animation.gif) no-repeat center center;
      }
      #cboxClose {
        position: absolute;

        text-indent: -9999px;
      }
      #cboxClose:hover {
        background-position: -25px -25px;
      }


#colorbox {
    #cboxCurrent,
    #cboxTopLeft,
    #cboxTopCenter,
    #cboxTopRight,
    #cboxBottomRLeft,
    #cboxBottomCenter,
    #cboxBottomRight {
        display: none!important;
    }
    #cboxMiddleLeft, 
    #cboxMiddleRight {
        width: 16px;
    }
    #cboxContent {
        overflow: visible;
    }
    #cboxWrapper {
        border-radius: 0;
        background: transparent;
    }
    #cboxLoadedContent {
        margin: 0;
    }
    #cboxTitle {
        background: rgba(0, 0, 0, 0.7);
        color: white;
        bottom: 0;
        padding: 3px 7px;
    }
    #cboxNext, 
    #cboxPrevious, 
    #cboxClose {
        background: none;
        top: calc(50% - 16px);
        left: inherit;
        bottom: inherit;
        text-indent: 0;
        font-size: 0;
        width: auto;
        height: auto;
        &:before {
            @include fontAw(20px);
            content: '';
            display: block;
            color: #fff;
            background: black;
            border: 1px solid #fff;
            border-radius: 50%;
            padding: 0;
            width: 30px;
            height: 30px;
            line-height: 30px;
            box-shadow: 0px 0 6px black;
        }
    }

    #cboxNext {
        right: -16px;
        &:before {
            content: '\f054';
            padding: 0 0 0 4px;
            width: 26px;
            line-height: 32px;
        }
    }
    #cboxPrevious {
        left: -16px;    
        &:before {
            content: "\f053";
            padding: 0 4px 0 0;
            width: 26px;
            line-height: 32px;
        }
    }
    #cboxClose {
        top: -16px;
        right: -16px;
        &:before {
            content: "\f00d";
        }
    }
}
