html {
  position: relative;
  @media #{$media-bigMobile} {
    height: 100%;
  }
}
body {
  margin: 0;
  min-height: 100%;
  background-color: $page-background;
  font-size: 18px;
  font-family: $fonts;

  @media #{$media-bigMobile} {

  }

  #container {
    color: #ccc;
  }
}

.visually-hidden {
  display: none;
}

body.toolbar-tray-open {
  padding-top: 90px!important;
}