header{

  @include clearfix;
  position: relative;
  width: calc(100% - 20px);
  background: #fff;
  padding: $padding-mobile;
  border-bottom: 1px solid #e3e5ef;

  .header-image {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;

    img {
      display: inline-block;
      width: 100%;
      min-width: 100%;
      height: auto;
      min-height: 400px;
    }
  }
  .wrapper {
    @include clearfix;
    position: relative;

  }
}
.logo {
  position: relative;
  float: left;
  overflow: hidden;
  text-indent: -9999px;

  a {
    position: relative;
    display: block;
    text-decoration: none;
    color: $h1-color;
    font-size: 1.6em;
  }
}


#menu-btn {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    top: 10px;
    right: 0;
    height: 34px;
    width: 40px;
    color: $hamburger-color;
    background: transparent;
    text-align: center;
    line-height: 34px;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    padding: 0 40px 0 0;
    transition: background 0.3s;
    critical: this;
    &:focus {
        outline: none;
    }

    span {
        display: block;
        position: absolute;
        top: 15px;
        right: 0;
        width: 30px;
        height: 4px;
        border-radius: 1px;
        background: $hamburger-background;
        transition: background 0s 0.3s;
        &:before,
        &:after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 1px;
            background-color: $hamburger-background;
            content: "";
            transition-duration: 0.3s, 0.3s;
            transition-delay: 0.3s, 0s;
        }
        &:before {
            top: -9px;
            transition-property: top, transform;
        }

        &:after {
            bottom: -9px;
            transition-property: bottom, transform;
        }
        critical: this;
    }

    &.is-active span {
        background: none;
        &:before,
        &:after {
            transition-delay: 0s, 0.3s;
        }
        &:before {
            top: 0;
            transform: rotate(45deg);
        }
        &:after {
            bottom: 0;
            transform: rotate(-45deg);
        }
    }

    @media #{$media-desktop} {
        display: none;
        critical: this;
    }

}

.main-menu {
    position: relative;
    clear: both;
    float: none;
    critical: this;

    @media #{$media-desktop} {
        float: right;
        clear: none;
        critical: this;
    }

    &.active ul#paragraph-menu {
        display: block;
    }
    h2 {
        display: none;
        critical: this;
    }

    ul#paragraph-menu {
        padding: 0;
        margin: 0;
        display: none;
        critical: this;

        @media #{$media-desktop} {
            critical: this;
            float: right;
            margin: 24px 0 0;
            display: inline-block!important;
        }

        li {
            display: block;
            padding: 0;
            border-bottom: 1px solid #eee;
            critical: this;

            @media #{$media-desktop}{
                display: inline-block;
                padding: 0;
                margin: 0 2px;
                border: 0;
                critical: this;
            }

            a {
                display: block;
                color: $menu-link-font-color;
                background: #fff;
                text-decoration: none;
                line-height: 28px;
                height: auto;
                border-bottom: 3px solid #fff;
                padding: 5px 20px;
                critical: this;
                @media #{$media-tablet} {
                    padding: 10px 20px;
                    critical: this;
                }

                &:hover {
                    color: $menu-link-font-hover-color;
                    border-bottom: 3px solid $menu-link-font-hover-color;
                }

                @media #{$media-desktop} {
                    padding: 5px 14px 10px;
                    transition: 300ms;
                    critical: this;
                }

            }

            &.ui-tabs-active {

              a {
                    font-weight: bold;
                    color: $menu-link-font-color-active;;
                    border-bottom: 3px solid $menu-link-font-color-active;
                }

            }

          &:first-child {
            a {
              span {
                display: none;
              }
      
              &:before {
                content: "Domů";
                display: inline-block;
              }
            }
          } // end > first-child


        }
    }
}
