 @mixin gwf($fonts...) {
  $latin: '&subset=latin,latin-ext';
  $url: "http://fonts.googleapis.com/css?family=";
  $nb: 0;

  @each $font-name in $fonts {
    $nb: $nb + 1;
    $nb-word: 0;

    @each $word in $font-name {
      $nb-word: $nb-word + 1;
      $url: $url + $word;

      @if $nb-word < length($font-name) {
        $url: $url + "+";
      }
    }

    @if $nb < length($fonts) {
      $url: $url + "|";
    }
  }
  $url: $url + $latin;
  @import url(#{$url});
}
@include gwf($fonts);