h1, h2 {
  font-weight: normal;
}

main[role='main'] {
  @include clearfix;
  padding: 0 10px;
  position: relative;

  .wrapper {
    padding-bottom: 10px;
  }
}

#block-ubytovani-content {
  display: block;
  padding-top: 20px;
}

.fotogalerie {
  padding-bottom: 30px;
  text-align: center;
  h2 {
    margin: 10px 0;
    color: $h2-color;
  }
  .popis {
    margin: 0 0 10px;
  }
  .foto {
    img {
      height: auto;
      width: 80%;
      border: 1px solid #ccc;
    }
  }
  @media #{$media-bigMobile}{
    float: left;
    width: 50%;
    text-align: left;
    padding: 20px 0 0;
    h2 {
      @include ellipsis;
    }
    .popis {
      line-height: 20px;
      margin-bottom: 10px;
      min-height: 50px;
      @include ellipsis;
    }
    .foto {
      float: left;
      width: 40%;
    }
    .foto-text, .tisk-text {
      float: right;
      width: 60%;
    }
  }
  @media #{$media-desktop}{
    width: 33.3%;
  }
}

#scrollTop {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 34px;
  height: 34px;
  line-height: 30px;
  border-radius: 17px;
  background: #333;
  text-align: center;
  box-shadow: 0px 0px 10px #333;

  &:before {
    @include fontAw(26px);
    content: "\f0d8";
    color: white;
  }

  &:hover {
    background: white;
    &:before {
      color: #333;
    }
  }
}