
/* tohle bych dal do obecného */
.paragraph--type--apartman {
    @include clearfix;
    
// je tohle clearfix????
//.paragraph--type--apartman:before,
//.paragraph--type--apartman:after {
//    content:"";
//    display: block;
//    width: 100%;
//    clear:both;
//}
    position: relative;
    clear: both;
    margin: 0 0 20px;
    padding: 10px;

    .field--field-nadpis-apartmanu {
      padding: 0 20px 10px 5px;
      font-size: 120%;
      font-weight: bold;
    }

    .field--field-hlavni-fotografie {
        float: left;
        width: 200px;
        padding: 0 20px 20px 0;
        img {
            width: 100%;
            height: auto;
        }
    }

    .field--field-popis-apartmanu {
        float: right;
        width: calc(100% - 310px);
        padding: 0 20px 20px 0;

        p{
            margin-top: 10px;
        }
    }

    .field--field-galerie-apartmanu {
        @include clearfix;
        position: relative;
        float: left;
        width: 270px;

        a {
            max-width: 268px;
        }

    }
}
