h1 {
  critical: this;
  display: none;
}
h1 {
  padding: 30px 0 0;
  margin: 0;
  color: $h1-color;
  font-size: 3.3em;
  line-height: 1em;
}
h2 {
  color: $h2-color;

  &.paragraph-nadpis {
    margin: 0;
    padding: 20px 0;
    font-size: 2em;
  }

}
h3 {
  color: $h3-color;
}
h4 {
  color: $h4-color;
}

a, a:link {
  color: $link-color;
  text-decoration: underline;
}
a:hover {
  color: $link-hover-color;
}

.wrapper {
  max-width: $page-width;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  width: calc(100% - 30px);
}

#slider {
  background: #7cccd4;
  min-height: 300px;
  .wrapper {
    text-align: center;
  }
    h2 {
    line-height: 300px;
  }
}
  .table-row {
  padding: 15px 0;
  border-bottom: 1px solid #f1ebbc;
  @media #{$media-desktop}{
    display: table-row;
  }
}

.table-cell {
  display: block;
  @media #{$media-desktop}{
    display: table-cell;
    padding: 0 20px;
  }
  h2.not-main {
    margin: 5px 0;
    color: $h2-color;
    padding: 0;
    font-size: 1.5em;
    @media #{$media-desktop} {
      font-size: 1.2em;
    }
  }
  p {
    margin: 5px 0;
  }
  &.buttons {
    padding: 5px 0 0;
  }
}



div.fix-iframe {
  position: relative;
  float: none;
  text-align: left;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
  }
  
}
