.editor #block-menueditora {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    margin: 0;
    background: #333;
    z-index: 100;
    text-shadow: none;
}

.editor #block-menueditora ul {
    text-align: left;
    margin: 0 auto;
    width: 1000px;
}

.editor #block-menueditora ul li {
    float: left;
    list-style: none;
}

.editor #block-menueditora ul li a {
    display: block;
    text-decoration: none;
    padding: 0 12px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    border: 0;
    font-size: 12px;
    background: #555;
    border-radius: 13px;
    margin: 4px 5px 4px 0;
}

.editor #block-menueditora ul li a:hover {
    background: #777;
}

.editor .layout-container {
    padding-top: 28px;
    margin: 0;
}

.editor .sticky-table {
    width: 100%;
}

.js td .dropbutton-multiple {
    margin-right: 0;
    padding-right: 0;
}

.details body.node-12.slowImg.editor {
    background: #f7fcff;
}

.details body.node-12.slowImg.editor main[role='main'] {
    width: 100%;
    float: none;
}

.editor .tabledrag-toggle-weight-wrapper {
    display: none;
}

.details th.field-label {
    display: none;
}

.details .editor .form-actions, .details .editor .field--name-field-skladba-name {
    display: inline-block;
}

.details .editor .field--name-field-skladba {
    margin-left: 75px;
}

.details .editor .field--name-field-interpret {
    margin-left: 40px;
}

.details .editor .field-multiple-table td .field--name-field-interpret .form-actions:after {
    content: '  - Odstranit interpreta i se skladbami';
    display: inline-block;
}

.details .editor .field-multiple-table td .field--name-field-skladba .form-actions:after {
    content: '';
}

.details .editor .field-multiple-table td .form-actions:after {
    content: '  - Odstranit celou kategorii';
}

#block-ubytovani-local-tasks ul {
    position: relative;
    border-collapse: collapse;
    height: auto;
    line-height: normal;
    list-style: none;
    margin: 5px;
    padding: 0 0 0 1em;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
    z-index: 90;
}

#block-ubytovani-local-tasks ul li a:hover, #block-ubytovani-local-tasks ul li a.active {
    background: #666;
    border: none;
    color: #fff;
}

#block-ubytovani-local-tasks ul li {
    display: inline-block;
}

#block-ubytovani-local-tasks ul li a {
    text-decoration: none;
    background: none;
    border: none;
    display: block;
    line-height: 1.5385em;
    margin: 0;
    padding: 0 1em;
    border-radius: 4px 4px 0 0;
    margin-right: 5px;
}
