html{font-family:sans-serif}body{margin:0}a{background-color:transparent}a,a:link{color:#333}html{position:relative}@media only screen and (min-width:560px){html{height:100%}}body{margin:0;min-height:100%;background-color:#fff;font-size:18px;font-family:PT Sans Narrow}.visually-hidden{display:none}