.layout-container {
    background: #7db9e8 !important;
}

main[role="main"] .wrapper{
	background: white;
}

header {
    position: relative;
    width: calc(100% - 20px);
    background: #fff;
    padding: 10px;
    border-bottom: 0;
    height: 78px;

}
header:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	height: 96px;
	z-index: 1;
}
header .wrapper {
	z-index: 1;
}

header .logo {
    margin: 15px 0 0 0;
}

header .logo a{
	background: url(http://www.quncivillas.com/images/logotype_white.png) no-repeat 0 0;
	text-indent: -9999px;
	width: 280px;
    height: 34px;
    display: block;
}


header .header-image {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    max-height: 780px;
    overflow: hidden;
}

header .header-image img {
    display: inline-block;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 1400px;
}

.header-image:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    /* background: #ff0000; */
    height: 110px;
    background: linear-gradient(to bottom, #ffffff00 0%,#7db9e8 90%);
}

.main-menu #paragraph-menu li a {
    display: block;
    padding: 0 20px;
    margin: 0 0 3px 20px;
    background: #7cbae8;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    height: 40px;
    line-height: 44px;
    font-size: 20px;
}

.main-menu #paragraph-menu li a:hover {
    background: white;
    color: #7cbae8;
}

main[role='main'] {
    position: relative;
    padding-top: 520px;
}

main[role='main'] .paragraph-nadpis {
    color: #33baaf;
    font-size: 50px;
    padding: 20px 0;
    margin: 30px 0 0;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
}



