._140946477 .layout-container {
    background: #7db9e8 !important;
}

._140946477 main[role="main"] .wrapper{
	background: white;
}

._140946477 header {
    position: relative;
    width: calc(100% - 20px);
    background: #fff;
    padding: 10px;
    border-bottom: 0;
    height: 78px;

}
._140946477 header:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	height: 76px;
	z-index: 1;
}

@media only screen and (min-width: 768px) {
    ._140946477 header:before {
        height: 96px;
    }
}

._140946477 header .wrapper {
	z-index: 1;
    width: 100%;
    padding: 0;
}

._140946477 header .logo {
    margin: 15px 0 15px 0;
}

._140946477 header .logo a{
	background: url(http://www.quncivillas.com/images/logotype_white.png) no-repeat 0 0;
	text-indent: -9999px;
	width: 180px;
    height: 22px;
    display: block;
    background-size: contain;
}

@media only screen and (min-width: 768px) {
    ._140946477 header .logo a{
        width: 280px;
        height: 34px;
    }
}

._140946477 #menu-btn {
    color: white;
}


#cboxNext:before,
#cboxPrevious:before,
#cboxClose:before {
    background: #33baaf!important;
}

._140946477 header .header-image {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    max-height: 780px;
    overflow: hidden;
}

._140946477 header .header-image img {
    display: inline-block;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 1400px;
}

._140946477 .header-image:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    /* background: #ff0000; */
    height: 110px;
    background: linear-gradient(to bottom, #ffffff00 0%,#7db9e8 90%);
}

@media only screen and (min-width: 768px) {
    .main-menu ul#paragraph-menu {
        margin: 18px 0 0;
    }
}
@media only screen and (min-width: 768px) {
    ._140946477 .main-menu #paragraph-menu li a {
        display: block;
        padding: 0 20px;
        margin: 0 0 3px 15px;
        background: #7cbae8;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 20px;
        height: 40px;
        line-height: 44px;
        font-size: 20px;
        border-bottom: 3px solid #0000009c;
    }

    ._140946477 .main-menu #paragraph-menu li a:hover {
        background: white;
        color: #333;
        border-bottom: 3px solid #333;
    }

}

._140946477 main[role='main'] {
    position: relative;
    padding-top: 200px;
}

@media only screen and (min-width: 768px) {
    ._140946477 main[role='main'] {
        position: relative;
        padding-top: 520px;
    }
}

._140946477 main[role='main'] .paragraph-nadpis {
    color: #33baaf;
    font-size: 30px;
    padding: 20px 0;
    margin: 30px 0 0;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    ._140946477 main[role='main'] .paragraph-nadpis {
        font-size: 50px;
    }
}

#scrollTop {
    background: #33baaf!important;
}
