{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
{% if site_name %}
<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
<svg
xmlns:dc="http://purl.org/dc/elements/1.1/"
xmlns:cc="http://creativecommons.org/ns#"
xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
xmlns:svg="http://www.w3.org/2000/svg"
xmlns="http://www.w3.org/2000/svg"
version="1.1"
id="svg2"
viewBox="0 0 210 38.326001"
height="38.326"
width="210">
<defs
id="defs4" />
<metadata
id="metadata7">
<rdf:RDF>
<cc:Work
rdf:about="">
<dc:format>image/svg+xml</dc:format>
<dc:type
rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
<dc:title></dc:title>
</cc:Work>
</rdf:RDF>
</metadata>
<g
transform="translate(0,-1014.0361)"
id="layer1">
<g
id="text4136"
style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.5110383px;line-height:125%;font-family:Signika;-inkscape-font-specification:Signika;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1">
<path
id="path4315"
style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:32.91598511px;font-family:Signika;-inkscape-font-specification:Signika"
d="m 16.962915,1016.5176 0,14.5818 q 0,4.0158 -2.238287,6.1882 -2.238287,2.1396 -6.0894574,2.1396 -3.8182543,0 -6.0565413,-2.1396 -2.23828698,-2.1395 -2.23828698,-6.1882 l 0,-14.5159 0.19749591,-0.1975 1.34955537,0 q 1.0533115,0 1.4812193,0.5266 0.4608238,0.5267 0.4608238,1.7117 l 0,12.4751 q 0,2.6991 1.2178915,4.1145 1.2178914,1.3825 3.5878424,1.3825 4.8057334,0 4.8057334,-5.497 l 0,-14.5818 q 0.362076,-0.066 0.8229,-0.099 0.460824,-0.033 0.921648,-0.033 0.493739,0 0.954563,0.033 0.460824,0.033 0.8229,0.099 z" />
<path
id="path4317"
style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:32.91598511px;font-family:Signika;-inkscape-font-specification:Signika"
d="m 22.195527,1038.1764 0,-23.1729 0.197496,-0.1975 1.283724,0 q 1.020395,0 1.415387,0.5267 0.427908,0.4937 0.427908,1.6458 l 0,7.1757 q 1.974959,-1.6788 4.542406,-1.6788 2.633278,0 4.048666,2.2712 1.448303,2.2712 1.448303,6.3199 0,1.9091 -0.559572,3.4233 -0.559571,1.5141 -1.547051,2.6003 -0.987479,1.0534 -2.337035,1.6129 -1.316639,0.5596 -2.863691,0.5596 -3.159934,0 -6.056541,-1.0862 z m 6.912357,-12.8702 q -1.974959,0 -3.587842,1.8762 l 0,9.1507 q 1.217891,0.395 2.830774,0.395 1.6458,0 2.699111,-1.5471 1.053312,-1.547 1.053312,-4.3778 0,-2.8637 -0.8229,-4.1803 -0.789984,-1.3167 -2.172455,-1.3167 z" />
<path
id="path4319"
style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:32.91598511px;font-family:Signika;-inkscape-font-specification:Signika"
d="m 52.0601,1023.035 -4.34491,15.4376 q -0.592487,2.0737 -1.250807,3.522 -0.625404,1.4812 -1.481219,2.4029 -0.8229,0.9216 -1.974959,1.3495 -1.119144,0.428 -2.633279,0.428 -0.263328,0 -0.789984,-0.033 -0.526656,-0.033 -1.053311,-0.1316 -0.526656,-0.066 -0.921648,-0.1975 -0.394992,-0.099 -0.394992,-0.2963 0,-0.5595 0.197496,-1.2508 0.197496,-0.6912 0.559572,-1.0533 1.086227,0.4279 2.567447,0.4279 1.415387,0 2.304119,-1.0204 0.888731,-0.9875 1.514135,-3.0612 l 0.09875,-0.395 q -1.053312,-0.033 -1.645799,-0.3949 -0.592488,-0.395 -0.888732,-1.3825 l -4.34491,-14.3843 q 1.184975,-0.4937 2.073707,-0.4937 1.283723,0 1.711631,1.5141 l 2.238287,7.5707 q 0.16458,0.5266 0.460824,1.7445 0.296244,1.185 0.757068,3.0941 0.03292,0.2304 0.296244,0.2304 l 3.620758,-13.9234 q 0.263328,-0.066 0.592488,-0.099 0.362076,-0.033 0.789983,-0.033 0.460824,0 0.921648,0.066 0.49374,0.033 0.921647,0.1646 l 0.09875,0.1975 z" />
<path
id="path4321"
style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:32.91598511px;font-family:Signika;-inkscape-font-specification:Signika"
d="m 63.431544,1022.7059 q 0.16458,0.5595 0.16458,1.2837 0,0.7241 -0.16458,1.2508 l -4.048666,-0.066 0,9.8418 q 0,1.4483 1.349555,1.4483 l 2.271203,0 q 0.263328,0.7242 0.263328,1.4813 0,0.7241 -0.06583,0.9545 -1.909127,0.2304 -3.68659,0.2304 -3.456179,0 -3.456179,-3.3903 l 0,-10.5331 -2.435782,0.033 q -0.131664,-0.5596 -0.131664,-1.2179 0,-0.6912 0.131664,-1.3166 l 2.435782,0.066 0,-2.8966 q 0,-1.185 0.394992,-1.6787 0.394992,-0.4938 1.415388,-0.4938 l 1.283723,0 0.230412,0.2304 0,4.8716 4.048666,-0.099 z" />
<path
id="path4323"
style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:32.91598511px;font-family:Signika;-inkscape-font-specification:Signika"
d="m 77.414924,1037.6168 q -1.810379,1.8104 -4.772818,1.8104 -1.711631,0 -3.02827,-0.5925 -1.31664,-0.6254 -2.238287,-1.7446 -0.888732,-1.152 -1.382472,-2.6991 -0.460824,-1.5799 -0.460824,-3.522 0,-1.9091 0.460824,-3.4891 0.49374,-1.5799 1.382472,-2.6991 0.921647,-1.152 2.238287,-1.7445 1.316639,-0.6254 3.02827,-0.6254 1.711631,0 3.028271,0.6254 1.316639,0.5925 2.205371,1.7445 0.921647,1.1192 1.382471,2.6991 0.49374,1.58 0.49374,3.4891 0,4.4108 -2.337035,6.7478 z m -4.772818,-12.7056 q -3.587842,0 -3.587842,5.9578 0,5.9578 3.587842,5.9578 3.620759,0 3.620759,-5.9578 0,-5.9578 -3.620759,-5.9578 z" />
<path
id="path4325"
style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:32.91598511px;font-family:Signika;-inkscape-font-specification:Signika"
d="m 88.69585,1036.2343 3.884086,-13.4955 q 0.625404,-0.1317 1.448303,-0.1317 0.855816,0 1.547052,0.2633 l 0.09875,0.1317 q -2.468698,8.2948 -5.069061,15.9972 -0.954564,0.1645 -2.238287,0.1645 -1.283724,0 -1.810379,-0.362 -0.49374,-0.3621 -0.888732,-1.5142 l -4.542406,-14.2855 q 1.086228,-0.4937 1.942043,-0.4937 1.48122,0 1.843295,1.4483 l 2.205371,7.2415 q 0.625404,1.9749 1.283724,4.7728 0.06583,0.2633 0.296244,0.2633 z" />
<path
id="path4327"
style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:32.91598511px;font-family:Signika;-inkscape-font-specification:Signika"
d="m 111.017,1037.4851 q -0.39499,1.185 -1.28372,1.7446 -1.94205,-0.3621 -2.63328,-2.0408 -2.33704,2.2383 -4.80574,2.2383 -1.2508,0 -2.20537,-0.395 -0.921644,-0.395 -1.579964,-1.0533 -0.625403,-0.6913 -0.954563,-1.5471 -0.296244,-0.8887 -0.296244,-1.8433 0,-2.6991 1.711631,-4.0816 1.74455,-1.3824 4.60824,-1.3824 0.8229,0 1.61288,0.066 0.78998,0.033 1.54705,0.1646 l 0,-1.2837 q 0,-2.9296 -2.69911,-2.9296 -1.87621,0 -5.167808,1.2508 -0.954563,-0.8229 -0.987479,-2.4687 3.357427,-1.5141 6.813607,-1.5141 2.56745,0 3.98284,1.3825 1.41538,1.3495 1.41538,4.1145 l 0,6.7478 q 0,2.0407 0.92165,2.8307 z m -8.16316,-0.757 q 2.10662,0 3.88408,-1.975 l 0,-3.127 q -0.65832,-0.066 -1.38247,-0.099 -0.72415,-0.033 -1.51413,-0.033 -1.51414,0 -2.36996,0.7571 -0.82289,0.7241 -0.82289,1.942 0,1.185 0.59248,1.8762 0.59249,0.6584 1.61289,0.6584 z m -1.44831,-16.8201 4.7399,-5.2336 q 0.75707,0.2633 1.44831,0.8887 0.69123,0.6254 0.95456,1.3495 l -5.62863,4.3779 q -0.46083,-0.1317 -0.88873,-0.5267 -0.42791,-0.395 -0.62541,-0.8558 z" />
<path
id="path4329"
style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:32.91598511px;font-family:Signika;-inkscape-font-specification:Signika"
d="m 128.12637,1027.8407 0,7.6695 q 0,1.942 0.55957,2.9953 -0.85582,0.7242 -2.00788,0.7242 -1.11914,0 -1.54705,-0.5267 -0.39499,-0.5595 -0.39499,-1.6458 l 0,-8.3606 q 0,-1.7117 -0.46082,-2.4358 -0.42791,-0.7242 -1.51414,-0.7242 -1.08623,0 -2.23828,0.5596 -1.11915,0.5267 -1.97496,1.4812 l 0,11.4219 q -0.55958,0.1316 -1.67872,0.1316 -0.52665,0 -0.95456,-0.033 -0.42791,-0.033 -0.75707,-0.099 l 0,-16.1947 0.1975,-0.1975 1.28372,0 q 1.77746,0 1.87621,2.0408 2.40287,-2.2054 5.23364,-2.2054 2.20537,0 3.2916,1.4812 1.08623,1.4483 1.08623,3.917 z" />
<path
id="path4331"
style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:32.91598511px;font-family:Signika;-inkscape-font-specification:Signika"
d="m 137.00957,1025.5695 0,13.4298 q -0.6254,0.1316 -1.71163,0.1316 -1.05331,0 -1.67872,-0.1316 l 0,-12.0473 q 0,-0.9216 -0.32916,-1.3166 -0.32916,-0.395 -1.11914,-0.395 l -0.36207,0 q -0.16458,-0.7242 -0.16458,-1.2179 0,-0.4937 0.16458,-1.2508 1.08622,-0.1317 2.0737,-0.1317 l 0.46083,0 q 1.2508,0 1.94204,0.79 0.72415,0.79 0.72415,2.1395 z m -4.7399,-5.6615 4.7399,-5.2336 q 0.75707,0.2633 1.4483,0.8887 0.69124,0.6254 0.95457,1.3495 l -5.62864,4.3779 q -0.46082,-0.1317 -0.88873,-0.5267 -0.42791,-0.395 -0.6254,-0.8558 z" />
</g>
<rect
y="-488.73837"
x="675.96179"
height="96.236389"
width="451.52008"
id="rect4196-7"
style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
<g
id="text4136-0"
style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.96976113px;line-height:125%;font-family:Signika;-inkscape-font-specification:Signika;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1">
<path
id="path4337"
style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:37.21651077px;font-family:Signika;-inkscape-font-specification:Signika;stroke:none;stroke-width:10;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
d="m 161.61092,1019.2084 -3.90774,4.1683 q -0.26051,0.2605 -0.59546,0.5582 -0.33495,0.2978 -0.74433,0.5955 1.48866,0.037 2.75402,0.521 1.30258,0.4839 2.19578,1.4143 0.93041,0.8932 1.45144,2.233 0.52103,1.3397 0.52103,3.1261 0,1.7864 -0.70711,3.2379 -0.6699,1.4514 -1.86083,2.4563 -1.15371,1.0048 -2.67959,1.5631 -1.52587,0.5582 -3.20062,0.5582 -4.54041,0 -7.4433,-2.4563 0.40938,-1.5631 1.71196,-2.5679 2.53072,1.8608 4.9498,1.8608 2.45629,0 3.8333,-1.2654 1.37701,-1.3025 1.37701,-3.5355 0,-2.1958 -1.15371,-3.3495 -1.1165,-1.1909 -2.79124,-1.1909 -1.60031,0 -2.79124,0.6326 -1.04206,-0.4838 -1.56309,-2.0841 l 4.65206,-5.0614 q 1.89804,-1.8981 2.53072,-2.4191 l -0.11165,-0.1861 q -1.45144,0.3722 -4.31711,0.3722 l -5.24753,0 q -0.2233,-0.5955 -0.2233,-1.4887 0,-0.9676 0.33495,-1.8608 l 12.98856,0 q 0.81876,1.5259 0.81876,2.4563 0,0.8187 -0.78154,1.7119 z" />
<path
id="path4339"
style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:37.21651077px;font-family:Signika;-inkscape-font-specification:Signika;stroke:none;stroke-width:10;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
d="m 169.77238,1037.2585 q -0.66989,-0.856 -1.15371,-1.8237 -0.48381,-0.9676 -0.81876,-2.1585 -0.33495,-1.1909 -0.48382,-2.7168 -0.14886,-1.5631 -0.14886,-3.5728 0,-2.9029 0.63268,-5.2103 0.63268,-2.3074 1.82361,-3.9078 1.22814,-1.6003 3.01453,-2.4562 1.7864,-0.856 4.13104,-0.856 3.27505,0 5.35918,1.1909 -0.18609,1.8981 -1.37702,2.7168 -1.78639,-0.8187 -3.75886,-0.8187 -2.82846,0 -4.24269,2.0469 -1.41422,2.0097 -1.52587,5.4708 2.2702,-2.1214 5.39639,-2.1214 3.1634,0 4.9498,2.0097 1.78639,2.0097 1.78639,5.9547 0,1.898 -0.59546,3.4983 -0.55825,1.6003 -1.60031,2.7541 -1.04207,1.1164 -2.53073,1.7491 -1.45144,0.6327 -3.27505,0.6327 -3.53557,0 -5.58248,-2.3818 z m 5.843,-10.9789 q -2.41908,0 -4.39155,2.0841 l 0,0.5955 q 0,3.7961 1.07928,5.7685 1.11649,1.9353 3.27505,1.9353 1.78639,0 2.79124,-1.4142 1.04206,-1.4143 1.04206,-3.8706 0,-5.0986 -3.79608,-5.0986 z" />
<path
id="path4341"
style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:37.21651077px;font-family:Signika;-inkscape-font-specification:Signika;stroke:none;stroke-width:10;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
d="m 189.43375,1016.7149 q 2.15856,-2.1585 5.43361,-2.1585 4.0566,0 6.10351,2.9773 2.04691,2.9401 2.04691,9.5646 0,6.5874 -2.00969,9.5647 -1.97248,2.9773 -6.14073,2.9773 -4.20546,0 -6.25237,-3.1262 -2.00969,-3.1262 -1.89804,-9.4158 0,-1.898 0.11164,-3.4239 0.14887,-1.5631 0.4466,-2.8284 0.29774,-1.2654 0.81877,-2.2702 0.55824,-1.0049 1.33979,-1.8609 z m 2.75402,18.5711 q 0.85598,1.3026 2.67959,1.3026 1.07928,0 1.82361,-0.4466 0.78155,-0.4839 1.26536,-1.5631 0.52103,-1.1165 0.74433,-2.9401 0.26052,-1.8237 0.26052,-4.5405 0,-2.7168 -0.26052,-4.5404 -0.2233,-1.8236 -0.74433,-2.9029 -0.48381,-1.1165 -1.26536,-1.5631 -0.74433,-0.4838 -1.82361,-0.4838 -1.07928,0 -1.86082,0.4838 -0.74433,0.4466 -1.26537,1.5631 -0.48381,1.0793 -0.74433,2.9029 -0.2233,1.8236 -0.2233,4.5404 0,6.3269 1.41423,8.1877 z" />
</g>
<path
id="path4192"
d="m 182.55824,1047.7873 c 6.23726,-0.3959 11.82754,-1.2796 16.27721,-2.5209 3.08338,-0.8602 5.61942,-1.8806 7.49912,-3.1204 1.87969,-1.2398 3.26497,-2.8364 3.26497,-4.8298 0,-1.9934 -1.38528,-3.5901 -3.26497,-4.8298 -0.7216,-0.476 -1.53993,-0.9196 -2.44881,-1.3343 -0.16306,1.4611 -0.34947,2.2321 -0.56188,3.0371 0.51557,0.2587 0.97434,0.5206 1.37142,0.7825 1.46353,0.9653 1.92692,1.7931 1.92692,2.3445 0,0.5514 -0.46339,1.3789 -1.92692,2.3442 -1.46353,0.9653 -3.76521,1.9306 -6.65982,2.7382 -4.17416,1.1644 -9.58062,2.0244 -15.6496,2.4136 0.0691,1.4076 0.13925,2.437 0.17236,2.9751 z m -11.68315,-6.98 c 0,0 -0.12937,4.1555 -0.14337,4.1549 -7.26993,-0.2716 -13.77091,-1.2127 -18.61347,-2.5636 -2.89461,-0.8076 -5.19647,-1.7729 -6.66001,-2.7382 -1.46353,-0.9653 -1.92692,-1.7928 -1.92692,-2.3442 0,-0.5514 0.46339,-1.3792 1.92692,-2.3445 1.46354,-0.9653 3.7654,-1.9306 6.66001,-2.7381 1.7147,-0.4783 3.83734,-1.1416 5.92841,-1.5057 -0.11697,-0.6684 -1.02147,-2.0026 -2.08141,-2.4477 -1.65676,0.3217 -3.21134,0.685 -4.64715,1.0856 -3.08339,0.8602 -5.61943,1.8808 -7.49913,3.1206 -1.8797,1.2397 -3.26497,2.8364 -3.26497,4.8298 0,1.9934 1.38527,3.59 3.26497,4.8298 1.8797,1.2398 4.41574,2.2602 7.49913,3.1204 5.16238,1.4401 11.86003,2.3989 19.32209,2.673 0.0545,0 -0.12935,4.2525 -0.12935,4.2525 l 9.95497,-5.4004 z"
style="color:#ffffff;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#ffffff;letter-spacing:normal;word-spacing:normal;text-transform:none;direction:ltr;block-progression:tb;writing-mode:lr-tb;baseline-shift:baseline;text-anchor:start;white-space:normal;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#ffffff;solid-opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
</g>
</svg>
<span>{{ site_name }}</span></a>
{% endif %}
{{ site_slogan }}
{% endblock %}